<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Learn English together</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<!-- <p th:text="'Hello, ' + ${name} + '!'" /> -->
	
	<h1 style="width:100%;text-align:center">Learn English By Minutes</h1>
	<p style="width:100%;text-align:center; color:blue" id = "message"></p>
	<form >
		<div class="">
			<div class="col">
				<input type="text" class="form-control" id="eng"
					placeholder="English" name="eng">
			</div>
			
		</div>

		<div class="">
			<div class="col">
				<input type="text" class="form-control" id="vn"
					placeholder="VietNamese" name="vn">
			</div>

		</div>

		<div class="">
			<div class="col">
				<input type="text" class="form-control" id="pronun"
					placeholder="Pronunciation" name="pronun">
			</div>
		</div>

		<div class="">

			<div class="col">
				<input type="text" class="form-control" id="example"
					placeholder="Example" name="example">
			</div>
			<div class="col">
				<input type="text" class="form-control" id="type"
					placeholder="Type of word" name="type">
			</div>
		</div>



		<button style="width:100%;text-align:center" type="button" onclick="save(eng.value,vn.value,pronun.value,example.value,type.value)" class="btn btn-primary mt-3">Submit</button>
	</form>
	<script>
		function save(eng,vn,pronun,example,type){
			var xhr = new XMLHttpRequest();
			
			xhr.onreadystatechange= function(){
				if(this.readyState == 4 && this.status == 200) {
					document.getElementById("message").innerHTML = this.responseText;
					document.getElementById("message").style.color = "blue";
					
				}
				else{
					document.getElementById("message").innerHTML = this.responseText;
					document.getElementById("message").style.color = "red";
				}
				 setTimeout(function(){ document.getElementById("message").innerHTML = ""; }, 3000);
			};
			
			
			xhr.open('POST','http://localhost:8000/save-word');
			xhr.setRequestHeader('Content-Type','application/json');
			xhr.send(JSON.stringify({
				"eng":eng,
				"vn":vn,
				"pronun":pronun,
				"example":example,
				"type":type})
			);
		}
	</script>
</body>

</html>